<!DOCTYPE html>
<html>
  <head>
    <title>Weather Info</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", nonce: true %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/flash' %>
      <h1 class="mt-5 title-font"><%= t("title") %></h1>
      <%= yield %>
    </div>
  </body>
</html>
